.layout {
	background-image: linear-gradient($black-4, $black-4), url("../../public/images/fullsize/cherry-blossoms.jpg");
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;

	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	color: $offwhite-10;
}
