$black-1: rgba(0, 0, 0, 0.1);
$black-2: rgba(0, 0, 0, 0.2);
$black-3: rgba(0, 0, 0, 0.3);
$black-4: rgba(0, 0, 0, 0.4);
$black-5: rgba(0, 0, 0, 0.5);
$black-6: rgba(0, 0, 0, 0.6);
$black-7: rgba(0, 0, 0, 0.7);
$black-8: rgba(0, 0, 0, 0.8);
$black-9: rgba(0, 0, 0, 0.9);
$black-10: rgba(0, 0, 0, 1);

$white-1: rgba(255, 255, 255, 0.1);
$white-2: rgba(255, 255, 255, 0.2);
$white-3: rgba(255, 255, 255, 0.3);
$white-4: rgba(255, 255, 255, 0.4);
$white-5: rgba(255, 255, 255, 0.5);
$white-6: rgba(255, 255, 255, 0.6);
$white-7: rgba(255, 255, 255, 0.7);
$white-8: rgba(255, 255, 255, 0.8);
$white-9: rgba(255, 255, 255, 0.9);
$white-10: rgba(255, 255, 255, 1);

$offwhite-1: rgba(248, 240, 227, 0.1);
$offwhite-2: rgba(248, 240, 227, 0.2);
$offwhite-3: rgba(248, 240, 227, 0.3);
$offwhite-4: rgba(248, 240, 227, 0.4);
$offwhite-5: rgba(248, 240, 227, 0.5);
$offwhite-6: rgba(248, 240, 227, 0.6);
$offwhite-7: rgba(248, 240, 227, 0.7);
$offwhite-8: rgba(248, 240, 227, 0.8);
$offwhite-9: rgba(248, 240, 227, 0.9);
$offwhite-10: rgba(248, 240, 227, 1);

$grey-1: rgba(127.5, 127.5, 127.5, 0.1);
$grey-2: rgba(127.5, 127.5, 127.5, 0.2);
$grey-3: rgba(127.5, 127.5, 127.5, 0.3);
$grey-4: rgba(127.5, 127.5, 127.5, 0.4);
$grey-5: rgba(127.5, 127.5, 127.5, 0.5);
$grey-6: rgba(127.5, 127.5, 127.5, 0.6);
$grey-7: rgba(127.5, 127.5, 127.5, 0.7);
$grey-8: rgba(127.5, 127.5, 127.5, 0.8);
$grey-9: rgba(127.5, 127.5, 127.5, 0.9);
$grey-10: rgba(127.5, 127.5, 127.5, 1);
