.nav-cards {
	background-color: $offwhite-10;
	padding: 10rem 12vw;
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	gap: 5rem;
	transition: gap 0.3s;

	@include laptopSm() {
		grid-template-columns: repeat(1, 1fr);
	}

	@include mobile() {
		gap: 0;
	}

	&__title {
		position: absolute;
		color: $black-10;
		font-size: 3rem;
		top: 4rem;
		left: 12vw;
	}
}
