.navbar {
	display: flex;
	font-size: 1.5rem;
	padding: 3rem;

	@include mobile() {
		padding: 2rem 1rem;
	}

	.logo {
		pointer-events: none;
		font-size: 2.2rem;
		text-shadow: 0 0 5px $black-5;

		@include mobile() {
			font-size: 0;

			&::after {
				font-size: 2.2rem;
				content: "KB";
			}
		}
	}

	.menu {
		display: flex;
		margin-left: auto;
		gap: 2rem;

		.menu-item {
			padding: 0.4rem;
			transition: all 0.2s;
			display: inline-block;
			text-shadow: 0 0 5px $black-5;

			&:hover {
				cursor: pointer;
				text-shadow: 0px 0px 5px $white-10;
			}
		}

		.dropdown {
			position: relative;

			.title {
				span {
					margin-right: 0.5rem;
				}
				svg {
					transition: all 0.3s ease-out;
				}

				&--active {
					svg {
						transform: rotate(-180deg);
					}
				}
			}

			.dropdown-menu {
				display: flex;
				position: absolute;
				flex-direction: column;
				opacity: 0;
				overflow: hidden;
				transition: all 0.3s;
				pointer-events: none;

				&--active {
					opacity: 1;
					pointer-events: unset;
				}
			}
		}
	}
}
