*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html,
body {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
	// This defines what 1rem is
	font-size: 62.5%; //1 rem = 10px
}

a {
	color: inherit;
	text-decoration: none;
}

// abstracts
@import "abstracts/animations";
@import "abstracts/mixins";
@import "abstracts/variables";

// base

// components
@import "components/sample-component";

// layout
@import "layout/layout";

// pages
@import "pages/about";
