*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	scroll-behavior: smooth;
}

html,
body {
	box-sizing: border-box;
}

html {
	// This defines what 1rem is
	font-size: 62.5%; //1 rem = 10px
}

// abstracts
@import "abstracts/animations";
@import "abstracts/mixins";
@import "abstracts/variables";

// base
@import "base/typography";

// components
@import "components/companies-worked-with";
@import "components/hero";
@import "components/sample-component";
@import "components/navbar";
@import "components/nav-card";
@import "components/nav-cards";

// layout
@import "layout/layout";

// pages
@import "pages/about";
@import "pages/home";
@import "pages/portfolio";
